body {
    margin: 0;
    overflow: hidden;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}

canvas {
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

@media (device-width: 1080px) and (device-height: 2460px) {
    canvas {
        border-radius: 25px; /* Match device bezel */
        overflow: hidden;
    }
}